{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {"project": ["./tsconfig.json"]},
  "plugins": ["@typescript-eslint"],
  "extends": [
    "oclif",
    "oclif-typescript",
    "prettier",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "@typescript-eslint/no-implicit-any-catch": "error",
    "node/no-missing-import": ["error", {
      "tryExtensions": [".js", ".ts", ".node"]
    }],
    "unicorn/filename-case": "off",
    "no-warning-comments": "off"
  }
}
