{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "oclif",
      "oclif-typescript",
      "prettier"
    ],
    "rules": {
      "no-return-await": "warn",
      "node/no-missing-import": ["error", {
        "tryExtensions": [".js", ".ts", ".node"]
      }],
      "max-params": 0,
      "eqeqeq": "warn",
      "no-eq-null": "warn",
      "unicorn/prefer-node-protocol": "off",
      "unicorn/no-array-for-each": "off",
      "unicorn/filename-case": "off",
      "max-statements-per-line": "warn"
    }
}